
<footer class="footer">
    <div class="boxInfo">
        <div class="contact-info">
          <h3>Contacto</h3>
          <p>Dirección: Calle de la Pizzería, Ciudad</p>
          <p>Teléfono: (123) 456-7890</p>
          <p>Email: info@pizzeria.com</p>
        </div>
        <div class="social-links">
          <h3>Redes Sociales</h3>
          <ul>
            <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
    </div>
    <div class="MyName">        
        <p>Created By <span><a href="https://marianovatri.netlify.app/">Mariano Vatri</a></span> |®  2021 All rights reserved.</p>
    </div>

</footer>