<h1 class="title">Elegí tu estilo</h1>
<div class="container">
  <div *ngFor="let pizza of pizzas" class="box">
    <div class="description">
      <h2>{{ pizza.name }}</h2>
      <ul>
        <li *ngFor="let ingredient of pizza.ingredients">{{ ingredient }}</li>
      </ul>
      <!-- Botón "Agregar al carrito" -->
      <button class="btn-agregar" (click)="agregarAlCarrito(pizza)"><i>Agregar al carrito</i></button>
    </div>
    <div>
      <img [src]="pizza.imageUrl" [alt]="pizza.name">
    </div>
  </div>
</div>

<a href="https://api.whatsapp.com/send/?phone=543564335655&text=Hola,+quiero+hacer+un+pedido" class="whatsapp-float" target="_blank">
  <i class="fab fa-whatsapp"></i>
</a>
