<div class="header">
    <div class="logo">
    <img src="https://image.freepik.com/vector-gratis/plantilla-diseno-logotipo-pizza_15146-192.jpg" alt="">
    </div>
    
    <div class="rutas">
        <a [routerLink]="['/home']" routerLinkActive="activa">Inicio</a>

        <div >
            <a target="_blank" href="https://api.whatsapp.com/send/?phone=543564335655&text=Hola,+queria+hacer+un+pedido.&app_absent=0">
            <div>
                <img src="https://cdn-icons-png.flaticon.com/128/1383/1383269.png" alt="">
            </div>

            <div>
               Hacer un pedido
            </div> 

            </a>
        </div>

        <a [routerLink]="['/contacto']" routerLinkActive="activa">Encuentranos</a>
        <a [routerLink]="['/horarios']" routerLinkActive="activa">Horarios</a>
    </div>
    
</div>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>



<body>
    

<router-outlet></router-outlet>

</body>






<footer class="footer">
    
        <a target="_blank" href="https://www.instagram.com/pizzeriadonc/?hl=es">
        <img src="https://i.pinimg.com/originals/18/ce/33/18ce3361104be259ee11eaf2970a8c00.png" alt="">
    </a>
       
</footer>