@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html {
    margin: 0;
}

body {
    margin-bottom: 100px;
    margin-top: 8em;
}

@media screen and (max-width: 650px) {
    body {
        margin-top: 12em;
    }
}

@media screen and (max-width: 470px) {
    body {
        margin-top: 10em;
    }
}


/* .responsive {
    background: url("https://img.freepik.com/vector-premium/garabatos-comida-rapida-vector-patron-transparente-dibujos-animados-sobre-fondo-blanco_97231-2376.jpg");
} */

