
.rutas {
    display: flex;
    background: #d22c26;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
}

.rutas img {
  margin-right: 5px;
  max-height: 20px;
}

.rutas div {
    box-sizing: border-box;
}

a {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    min-width: 13vw;
    max-width: 13vw;
    align-items: center;
    color: white;
    flex-direction: column;
}

a:link {text-decoration: none }

a:hover { 
    border-radius: 10px;
    color: white;
    background-color: #C30202;
    box-shadow: inset 1px 3px 6px -2px black;
    transition:all .5s ease-in-out; 
}

a:visited {
    font-size: large ; text-decoration: none 
}

.activa {
    border-radius: 10px;
    color: white;
    background-color: #C30202;
    box-shadow: inset 1px 3px 6px -2px black;
}

.header {       
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DF0202;
    POSITION: fixed;
    top: 0;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: auto;
    box-shadow: 1px 4px 9px rgb(0 0 0 / 56%);
    padding: 0;
}

.logo img {
    cursor: pointer;
    height: auto;
    width: 100px;
}

@media screen and (max-width: 900px) {

    a {

        min-width: 15vw;
    }
}

@media screen and (max-width: 650px) {
    .header {
        align-items: center;
        flex-direction: column;
        font-size: 13px;
    }

    .rutas {
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
    }

    a {
        max-width: none;
    }
}

@media screen and (max-width: 470px) {
    .rutas span {
        display: none;
    }
}
  