<div class="header">
    <div class="logo">
    <img src="https://i.pinimg.com/originals/50/86/49/5086491e04c803252468defa9c8900c8.png" alt="pizzeriaLogo">
    </div>
    
    <div class="rutas">

        <div class="rutaContainer">                  
          <a [routerLink]="['/home']" routerLinkActive="activa">
            <i class="fas fa-pizza-slice"></i>
            <span>Menú</span>            
          </a>
        </div>

        <div class="rutaContainer">                  
          <a [routerLink]="['/horarios']" routerLinkActive="activa">
            <i class="fas fa-shopping-cart"></i>
            <span>Carrito ({{cantidadTotal()}})</span>
          </a>
        </div>
      
        <div class="rutaContainer">                  
          <a [routerLink]="['/contacto']" routerLinkActive="activa">
            <i class="fas fa-map-marker-alt"></i>
            <span>Encuentranos</span>            
          </a>
        </div>

        <div class="rutaContainer">
          <a target="_blank" href="https://api.whatsapp.com/send/?phone=543564335655&text=Hola,+queria+hacer+un+pedido.&app_absent=0">
            <i class="fab fa-whatsapp"></i>
            <span>Whatsapp</span>            
          </a>
        </div>
            
      </div>
      
    
</div>