<div class="header">
    <div class="logo">
    <img src="https://image.freepik.com/vector-gratis/plantilla-diseno-logotipo-pizza_15146-192.jpg" alt="">
    </div>
    
    <div class="rutas">

        <div >
                  
            <a [routerLink]="['/home']" routerLinkActive="activa">
                <div>
                    <img src="https://iconarchive.com/download/i96324/iconsmind/outline/Home-2-2.ico" alt="">
                </div>
                <div>
                    Inicio
                </div>
            </a>
        </div>

        <div >
            <a target="_blank" href="https://api.whatsapp.com/send/?phone=543564335655&text=Hola,+queria+hacer+un+pedido.&app_absent=0">
            <div>
                <img src="https://cdn-icons-png.flaticon.com/128/1384/1384162.png" alt="">
            </div>

            <div>
               Whatsapp
            
            </div> 

            </a>
        </div>
        

        <div >
                  
            <a [routerLink]="['/contacto']" routerLinkActive="activa">

                    <div>
                        <img src="https://cdn-icons-png.flaticon.com/128/535/535239.png" alt="">
                    </div>

                    <div>
                        Encuentranos
                    </div>
            </a>
            
        </div>

            <div >
                  
                <a [routerLink]="['/horarios']" routerLinkActive="activa">
                    <div>
                        <img src="https://images.vexels.com/media/users/3/192874/isolated/preview/b29e095a848b318b2185991967df758c-golpe-de-reloj-anal-oacute-gico-simple-by-vexels.png" alt="">
                    </div>
                    <div>
                        Horarios
                    </div>
                </a>
            </div>

    </div>
    
</div>